In [ ]:
1
12
123
1234
12345

In [3]:
n = int(input("Enter the number of rows :"))
for i in range(1,n+1 ):
    for j in range(1,i+1):
        print(j,end="")
    print()

Enter the number of rows :5
1
12
123
1234
12345

In [ ]:
1
22
333
4444
55555

In [15]:
n = int(input("Enter the number of rows :"))
for i in range(1,n+1 ):
    for j in range(1,i+1):
        print(i,end="")
    print("")

Enter the number of rows :5
1
22
333
4444
55555

In [ ]:
*
**
* *
*  *
*   *
*****

In [16]:
n = int(input("enter the number of rows:-"))
for row in range(n):
    for col in range(n):
        if col==0 or row==(n-1) or row==col:
            print("*",end="")
        else:
            print(end=" ")
    print()

enter the number of rows:-5
*
**
* *
*  *
*****